<div class="main">
  <span class="stats-heading"> Spending - Last 7 days </span>
  <div class="stats">
    <div class="bar-graph">
      <div class="bar bar-mon bar--orange"></div>
      <div class="day">mon</div>
    </div>
    <div class="bar-graph">
      <div class="bar bar-tue bar--orange"></div>
      <div class="day">tue</div>
    </div>
    <div class="bar-graph">
      <div class="bar bar-wed bar--cyan"></div>
      <div class="day">wed</div>
    </div>
    <div class="bar-graph">
      <div class="bar bar-thu bar--orange"></div>
      <div class="day">thu</div>
    </div>
    <div class="bar-graph">
      <div class="bar bar-fri bar--orange"></div>
      <div class="day">fri</div>
    </div>
    <div class="bar-graph">
      <div class="bar bar-sat bar--orange"></div>
      <div class="day">sat</div>
    </div>
    <div class="bar-graph">
      <div class="bar bar-sun bar--orange"></div>
      <div class="day">sun</div>
    </div>
  </div>
</div>
